{{ define "main" }}

<style>
.btn-bd-primary {
    font-weight: 600;
    color: #111 !important;
    background: #fff !important;
    border: 2px solid #fff !important;
    border-radius: 2rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    box-shadow: 0 2px 16px 0 rgba(66,133,244,0.15);
    transition: color 0.2s, background 0.2s, border 0.2s, box-shadow 0.2s;
}
.btn-bd-primary:hover, .btn-bd-primary:focus {
    color: #4285F4 !important;
    border-color: #4285F4 !important;
    background: #fff !important;
}
.bd-masthead {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
</style>

<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      {{/*  <img class="d-block mx-auto mb-3" src="{{ `images/logo.svg` | relURL }}" width="150" height="150" alt="Bootstrap">  */}}
      <h1 class="display-4 fw-semibold mb-3">Introducing AutoAvail</h1>
      <p class="lead mb-">Streamline Your Scheduling with One Simple Command</p>
      <a class="btn btn-bd-primary btn-lg px-4 mb-2" href="https://chromewebstore.google.com/" role="button">Download now!</a>
      {{/*  <p class="text-muted mb-0">Open-source MIT Licensed.</p>  */}}
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial "features" . }}
</section>
{{/*  
<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Recent Posts</h3>
  {{ partial "latest-posts" . }}
</section>  */}}

{{/*  <section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section>  */}}

{{ end }}